-
  const options = [
    {
      "id":0,
      "img":"icons8-lista-32.png",
      "text":"Listas de Pedidos",
      "url":"/cucop/lists",
      "items":[]
    },
    {
      "id":1,
      "img":"icons8-tienda-50.png",
      "text":"Proveedores",
      "url":"/cucop/suppliers",
      "items":[]
    },
    {
      "id":4,
      "img":"icons8-producto-nuevo-30.png",
      "text":"Productos",
      "url":"/cucop/products",
      "items":[]
    },
    {
      "id":2,
      "img":"icons8-editor-de-registro-50.png",
      "text":"Cucop",
      "url":"/cucop/cucop",
      "items":[]
    },
    {
      "id":3,
      "img":"icons8-usuario-30.png",
      "text":"Usuarios",
      "url":"/cucop/users",
      "items":[]
    },
  ]
  
mixin nav-bar(index)
  nav.left-container
    .logo-container
      img(src="/cucop/public/images/cicese.png").logo-img
    +nav-bar-ul(index, options, 5)

mixin nav-bar-ul(index, items, padding)
  ul.list-container
    each item in items
      li
        a(href=item.url class=(index == item.id ? "active":"") style=`padding-left: ${padding}%`).list-item
          .list-item-img-container
            if item.img
              img(src=`/cucop/public/images/nav-bar/${item.img}`).list-item-img
          .list-item-text
            .list-link #{item.text}
        if item.items
          +nav-bar-ul(index, item.items, padding + 5)

mixin nav-top(title)
  .top-container
    .top-left-container
      #btn-collapse.top-left-img-container
        img(src=`/cucop/public/images/nav-bar/icons8-menú-50.png`).top-left-img
      .top-right-text 
        h4.top-right-title #{title}
    .top-right-container
      - if (user)
        h4.white-title #{user.firstNames} #{user.lastNames}
        a(href="/cucop/logout")
          img(src="/cucop/public/images/nav-bar/Logout.png", alt="Logout").logout-button
      - else  
        a(href="/cucop/login").btn.btn-primary  Iniciar sesión
